@font-face {
  font-family: 'NunitoSans';
  font-weight: 700;
  src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
  url('../fonts/NunitoSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 400;
  src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
  url('../fonts/NunitoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  src: url('../fonts/Quicksand-Bold.woff2') format('woff2'),
  url('../fonts/Quicksand-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('../fonts/Quicksand-Regular.woff2') format('woff2'),
  url('../fonts/Quicksand-Bold.Regular') format('woff');
}