@font-face {
  font-family: "NunitoSans-Bold";
  font-weight: 700;
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"), url("../fonts/NunitoSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "NunitoSans-Regular";
  font-weight: 400;
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Bold.Regular") format("woff");
}
html {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}
.header {
  font-family: "Quicksand";
  font-weight: 700;
  line-height: 20px;
  padding: 20px 0;
  background: linear-gradient(107.76deg, #EBF6FF 6.69%, #ECECFE 52.99%, #FEEFF3 98.71%);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  display: flex;
  column-gap: 23px;
}
.header__login:hover {
  box-shadow: 0 5px 0 #917AFD;
  transform: translateY(-5px);
}
.header__register:hover {
  box-shadow: 0 5px 0 #FFB258;
  transform: translateY(-5px);
}
.header__btn {
  text-align: center;
  min-width: 129px;
  padding: 10px 0;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.header__btn:active {
  box-shadow: 0 0px 0 transparent;
  transform: translateY(-2px);
}
.header__btn-link {
  color: #FFF;
  font-weight: 700;
  line-height: 20px;
}
.header__login {
  background: linear-gradient(135.53deg, #917AFD 2.61%, #6246EA 96.58%);
  border-radius: 100px;
  box-shadow: 4px 14px 34px rgba(139, 116, 251, 0.4);
}
.header__register {
  background: linear-gradient(299.27deg, #FF9C29 24.69%, #FFB258 81.84%);
  border-radius: 100px;
  box-shadow: 4px 14px 19px rgba(255, 156, 41, 0.33);
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 0;
    font-size: 14px;
  }
  .header__buttons {
    column-gap: 13px;
  }
  .header__btn {
    min-width: 100px;
    padding: 8px 0;
  }
}
@media (max-width: 768px) {
  .header__buttons {
    display: none;
  }
}
.menu {
  display: flex;
  align-items: center;
}
.menu__burger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
}
.menu__burger-span {
  position: absolute;
  background: #684DEC;
  width: 100%;
  height: 2px;
  top: 35%;
  border-radius: 10px;
  transition: all 0.3s;
}
.menu__burger-span::after, .menu__burger-span::before {
  content: "";
  background: #684DEC;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  transition: all 0.3s;
}
.menu__burger-span::after {
  transform: translateY(-10px);
}
.menu__burger-span::before {
  transform: translateY(10px);
}
.menu__burger-active span {
  background: transparent;
}
.menu__burger-active span::after {
  transform: rotate(-45deg);
}
.menu__burger-active span::before {
  transform: rotate(45deg);
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.menu__link {
  position: relative;
  color: #684DEC;
  padding-bottom: 4px;
}
.menu__link:hover {
  color: #8f7bf1;
}
.menu__link-active::before {
  content: "";
  position: absolute;
  border-radius: 2px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #684DEC;
}

@media (max-width: 1024px) {
  .menu__list {
    column-gap: 30px;
  }
}
@media (max-width: 768px) {
  .menu__burger {
    display: block;
    position: relative;
  }
  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    row-gap: 10px;
    position: absolute;
    top: 50px;
    left: 0px;
    transform: translateX(-270%);
    transition: transform 0.6s;
  }
  .menu__list-visible {
    height: 100vh;
    width: 100vw;
    transform: none;
    background: linear-gradient(107.76deg, #EBF6FF 6.69%, #ECECFE 52.99%, #FEEFF3 98.71%);
  }
}/*# sourceMappingURL=style.css.map */